body{
	background:#ffffff;
	font: 15px "Trebuchet MS";
	color:#000000;

}

#selection{
  height:5vh;
}

#streamgraph{
  width:100%;
  height:40vh;
  float:left;
}

#streamgraph > svg{
  width:100%;
  height:100%;
}

#interactions{
  width:50%;
  height:50vh;
  font-size: calc(2vw + 2vh);
  float:left;
}

#interactions > svg{
  width:100%;
  height:100%;
}

#wordcloud{
  width:50%;
  height:50vh;
  font-size: calc(2vw + 2vh);
  float:right;
}

#wordcloud > svg{
  width:100%;
  height:100%;
}

#info-button{
  float: inline-end;
}

.label{
  font-family: 'PT Sans',sans-serif;
  opacity: 1;
  font-size: 30%;
}

.tooltip{
  font-size: x-small;
  background-color: #ffffff;
  border: solid;
  border-width: "1px";
  border-radius: "5px";
  padding: "10px";
}

.atom-label{
  font-size: x-small;
  text-anchor: middle;
  alignment-baseline: middle;
}

.atom{
  opacity: .85;
}

.atom-edge{
  stroke-width: .5;
  stroke: lightgray;
}
